* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: rgb(236,216,225);
  background: -moz-linear-gradient(90deg, rgba(236,216,225,1) 0%, rgba(200,217,238,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(236,216,225,1) 0%, rgba(200,217,238,1) 100%);
  background: linear-gradient(90deg, rgba(236,216,225,1) 0%, rgba(200,217,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecd8e1",endColorstr="#c8d9ee",GradientType=1);
  margin: 0;
  overflow: hidden;
}

.carousel-items {
  position: relative;
  height: 100%;
  width: 100%;
}

p.header {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-weight: 800;
  margin-bottom: 76px;
}

p.title {
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.carousel__photo {
  margin: auto;
  display: block;
  width: 447px;
  height: 400px;
}

.bottoms-flipping {
  text-align: center;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 103px;
}


button.indicator {
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

button.indicator.active {
  color: #a2a0a0;
}

.carousel__button--prev {
  left: 54px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
}

.carousel__button--prev:active {
  color: #2e2d2d;
  width: 34px;
  height: 34px;
  border-radius: 34px;
  background-color: #fff;
  padding: 0;
}

button.carousel__button--next {
  right: 54px;
  transform: translateY(-50%);
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
}

button.carousel__button--next:active {
  color: #2e2d2d;
  width: 34px;
  height: 34px;
  border-radius: 34px;
  background-color: #fff;
  padding: 0;
}

button.indicator {
  font-size: 14px;
  margin-right: 7px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button.indicator:active {
  color: #929191;
}

.main {
  overflow: hidden;
  position: relative;
}

.img-section {
  display: flex;
  overflow-x: visible;
  transition-property: transform;
  will-change: transform;
}

@media screen and (max-width: 600px) {
  img.carousel__photo {
    height: 400px;
  }

  .carousel__photo {
    width: 100%;
    height: 50%;
    position: relative;
  }

  .carousel__button--prev {
    left: 10px;
  }

  button.carousel__button--next {
    right: 10px;
  }

  .bottoms-flipping {
    bottom: 31px;
  }
}

